streamlit==1.35.0
streamlit-folium==0.20.0
folium==0.17.0
ultralytics==8.2.103
torch==2.3.1
torchvision==0.18.1
opencv-python-headless==4.10.0.84
Pillow==10.3.0
requests==2.31.0
pandas==2.2.2
python-dotenv==1.0.1
numpy==1.26.4
streamlit-drawable-canvas==0.9.3
